<h1><%= user.email %><"\'s galleries"</h1>

<p><%= @gallery.description %></p>

<nav>
<%= link_to "Edit", edit_gallery_path(@gallery) %>
<%= link_to "Destroy", @gallery, method: :delete, response: "Are you sure?" %>
<%= link_to "Add image", new_gallery_image_path(@gallery) %>
</nav>

<% @images.each do |image| %>
	<%= link_to image_tag(image.url, width:200), [@gallery, image] %>
<% end %>